* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    background-color: aliceblue;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left:270px ;
}
.buttons button {
    background-color: #fff;
    border: none;
    padding: 0.5rem  1rem;
    border-radius: 8px;
    cursor: pointer;
}
.buttons button:active {
    background-color: rgb(99, 99, 208);
    color: #fff;
}
.buttons button:hover {
    background-color: rgb(99, 99, 208);
    color: #fff;
}
.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 0.7fr));
    gap: 1.5rem;
    background-color: #fff;
    margin: 15px auto;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 8px;
    border: 1px solid gainsboro;
}

h1,
p {
    padding: 0.5rem;
    line-height: 25px;
    color: rgb(82, 81, 81);
}
h1 {
    font-size: 1.5rem;
    
}
